schema/openc2_stix_coa-modifierExtensions.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:coa="http://stix.mitre.org/CourseOfAction-1" 
xmlns:stixCommon="http://stix.mitre.org/common-1" 
xmlns:openc2="http://stix.mitre.org/extensions/OpenC2StructuredCOA-1" 
xmlns:cybox="http://cybox.mitre.org/cybox-2" 
xmlns:SocketAddressObj="http://cybox.mitre.org/objects#SocketAddressObject-1"
xmlns:URIObject="http://cybox.mitre.org/objects#URIObject-2"
xmlns:AddressObject="http://cybox.mitre.org/objects#AddressObject-2"
xmlns:NetworkConnectionObj="http://cybox.mitre.org/objects#NetworkConnectionObject-2"
xmlns:cyboxCommon="http://cybox.mitre.org/common-2" 
targetNamespace="http://stix.mitre.org/extensions/OpenC2StructuredCOA-1" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2" xml:lang="en">
	<xs:annotation>
		<xs:appinfo>
			<schema>STIX Extension - Structured Course of Action Instance</schema>
			<version>0.1</version>
			<short_description>Structured Threat Information eXpression (STIX) Extension - XXXDefAction Structured Course of Action Instance - 
			Schematic implementation for the using an XXXDefAction Structured Course of Action within the STIX structured cyber threat expression
		    language.   This extension leverages the Open Command and Control (OpenC2) framework developed by the COA Standardization Working 
		    Group.  OpenC2 defines a conceptual language at a level of abstraction that enables unambiguous command and control of cyber defense 
		    components with enough generality to provide flexibility in the implementation by devices and accommodate future products.  
		    OpenC2 defines a set of unambiguous terms for the actions, the target (object) of the actions, and the entities (actuators) that 
		    execute the action.  OpenC2’s extensible framework for the commands accommodates specifiers and modifiers to further specify the 
		    targets, actuators, and actions.  OpenC2 is defined at a level of abstraction such that it can be consumer-agnostic in terms of each 
		    organization’s network components, but through the use of specifiers and modifiers, enough detail can be added to carry out specific 
		    tasks on devices Complex courses of action can be constructed and shared..  In addition, although not part of this STIX extension, 
		    OpenC2 provides capabilities for inter-organization coordination.  For more information about OpenC2, please contact info@openc2.org
		    </short_description>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://stix.mitre.org/CourseOfAction-1" schemaLocation="http://stix.mitre.org/XMLSchema/course_of_action/1.2/course_of_action.xsd"/>
	<xs:import namespace="http://stix.mitre.org/common-1" schemaLocation="http://stix.mitre.org/XMLSchema/common/1.2/stix_common.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/cybox-2" schemaLocation="cybox/cybox_core.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/common-2" schemaLocation="cybox/cybox_common.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#NetworkConnectionObject-2" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/Network_Connection/2.1/Network_Connection_Object.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#AddressObject-2" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/Address/2.1/Address_Object.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#SocketAddressObject-1" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/Socket_Address/1.1/Socket_Address_Object.xsd"/>
	<xs:import namespace="http://cybox.mitre.org/objects#URIObject-2" schemaLocation="http://cybox.mitre.org/XMLSchema/objects/URI/2.1/URI_Object.xsd"/>
	
	<xs:element name="OpenC2_Course_Of_Action" type="openc2:OpenC2StructuredCOAType">
		<xs:annotation>
			<xs:documentation>The CourseOfAction field characterizes a Course of Action to be taken in regards to one of more cyber threats. NOTE: This construct is still in its early stages of maturity and will require a good deal of review and refinement.</xs:documentation>
		</xs:annotation>
		<xs:unique name="unique-coa-id">
			<xs:selector xpath=".//stixCommon:*|.//stix:*|.//cybox:*|.//cyboxCommon:*|.//campaign:*|.//coa:*|.//et:*|.//incident:*|.//indicator:*|.//ta:*|.//ttp:*|.//marking:*"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	
	<xs:complexType name="OpenC2StructuredCOAType">
		<xs:annotation>
			<xs:documentation>The OpenC2StructuredCOAType specifies an instantial extension from the abstract StructuredCOAType.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="coa:StructuredCOAType">
				<xs:sequence>
					<xs:choice minOccurs="1" maxOccurs="1">
						<xs:element name="Action" type="openc2:ActionType">
							<xs:annotation>
								<xs:documentation>All XXXDefAction commands start with an ACTION which is  a required field.  
								ACTION indicates the type of command to perform such as gather and convey information, control activities and 
								devices, and control permissions and access.  The range of options and potential impact on the information system 
								associated with a particular ACTION is a function of the ACTUATOR.  
								For cases that involve multiple options for an ACTION, the default implementation is the one that has the least 
								impact on the stability/ operation of the system. An action can be extended with a MODIFIER to indicate an 
								optional implementation of the action. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					
					<xs:element name="Target" type="openc2:TargetType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The TARGET is the object of the ACTION (or conversely, the ACTION is performed on the TARGET).  
							Although, the majority of commands have a TARGET associated with the ACTION, there are high level ACTIONS where the 
							TARGET is an optional parameter.  TARGETS fall into classes (e.g.,  network, endpoint, application, data, and user) 
							which can be further enumerated by the use of URLs, hashes, IP addresses, files, processes, domains, firewalls, 
							routers).</xs:documentation>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="Actuator" type="openc2:ActuatorType" minOccurs="0"></xs:element>
					
					<xs:element name="Modifier" type="openc2:ModifierType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>"Modifiers" provide additional details about about the action such as time, periodicity, duration, 
							and location. 
							The modifier can be used to convey the need for additional status information about the execution of an action.  
							Modifiers can be used to indicate whether the actuator should explicitly acknowledge receipt of the command, 
							respond upon completion of the execution of the command, or provide some other status information. The requested 
							`status/information will be carried in a RESPONSE.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<!-- xs:attribute name="reference_location" type="xs:anyURI">
					<xs:annotation>
						<xs:documentation>Specifies a reference URL for the location of the XXXDefAction Structured COA.</xs:documentation>
					</xs:annotation>
				</xs:attribute-->
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ActionType">
		<xs:annotation>
			<xs:documentation>All OpenC2 commands start with an ACTION.  ACTION indicates the 
			type of command to perform such as gather and convey information, control activities and devices, and control permissions and access.  
			The range of options and potential impact on the information system associated with a particular ACTION is a function of the ACTUATOR.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="openc2:ActionVocab" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="Action_URI" type="xs:anyURI"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TargetType">
		<xs:annotation>
			<xs:documentation>The TARGET is the object of the ACTION (or conversely, the ACTION is performed on the TARGET).  
							Although, the majority of commands have a TARGET associated with the ACTION, there are high level ACTIONS where the 
							TARGET is an optional parameter.  TARGETS fall into classes (e.g.,  network, endpoint, application, data, and user) 
							which can be further enumerated by the use of URLs, hashes, IP addresses, files, processes, domains, firewalls, 
							routers).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="Specifier" type="cyboxCommon:ObjectPropertiesType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifiers further identify targets or actuators, individuals, or groups.  Specifiers are associated with the TARGET or ACTUATOR.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Target_URI" type="xs:anyURI" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ActuatorType">
		<xs:annotation>
			<xs:documentation>An ACTUATOR is the entity that executes the action . The ACTUATOR is the subject of the ACTION which performs the 
			ACTION to the TARGET. levels of abstraction and functionality for an ACTUATOR ranging from a specific sensor to an entire system or 
			even system of systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="openc2:ActuatorVocab" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="Specifier" type="openc2:SpecifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifiers further identify targets or actuators, individuals, or groups.  
					Specifiers are associated with the TARGET or ACTUATOR. Specifier could also include a URI to a particular actuator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ModifierType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="openc2:ModifierVocab" minOccurs="1"></xs:element>
			<xs:element name="Value" type="ModifierValueType" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Action specific modifiers -->
	<xs:element name="SCAN" type="openc2:ScanActionModifierType" />
	<xs:element name="LOCATE" type="openc2:LocateActionModifierType" />
	<xs:element name="QUERY" type="openc2:QueryActionModifierType" />
	<xs:element name="GET" type="openc2:GetActionModifierType" />
	<xs:element name="DENY" type="openc2:DenyActionModifierType" />
	<xs:element name="CONTAIN" type="openc2:ContainActionModifierType" />
	<xs:element name="ALLOW" type="openc2:AllowActionModifierType" />
	<xs:element name="STOP" type="openc2:StopActionModifierType" />
	<xs:element name="SET" type="openc2:SetActionModifierType" />
	<xs:element name="MOVE" type="openc2:MoveActionModifierType" />
	<xs:element name="REDIRECT" type="openc2:RedirectActionModifierType" />
	<xs:element name="THROTTLE" type="openc2:ThrottleActionModifierType" />
	<xs:element name="SUBSTITUTE" type="openc2:SubstituteActionModifierType" />
	<xs:element name="COPY" type="openc2:CopyActionModifierType" />
	<xs:element name="MITIGATE" type="openc2:MitigateActionModifierType" />
	
	<xs:complexType name="ScanActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="method" maxOccurs="1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="arp" />
								<xs:enumeration value="ping" />
								<xs:enumeration value="tcpsyn" />
								<xs:enumeration value="udpprobe" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="search" type="SocketAddressObj:SocketAddressObjectType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="on-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="LocateActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="on-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="QueryActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="on-device" type="openc2:DatapathType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="1" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="GetActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="1" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="DenyActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="on-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="priority" type="xs:unsignedInt" maxOccurs="1" minOccurs="0"></xs:element>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ContainActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>

					<xs:element name="where" type="AddressObject:AddressObjectType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AllowActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="on-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="priority" type="xs:unsignedInt" maxOccurs="1" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="StopActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>


					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="delay" type="xs:time" maxOccurs="1" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SetActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>


					<xs:element name="value"
						type="cyboxCommon:ObjectPropertiesType">
					</xs:element>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MoveActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>

					<xs:element name="move-to" type="AddressObject:AddressObjectType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RedirectActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>

					<xs:element name="to-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ThrottleActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="max-pps" maxOccurs="1" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="1" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SubstituteActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<element name="replacement" maxOccurs="1"
						minOccurs="1" type="openc2:FlowType" />



					<xs:element name="when" maxOccurs="1" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ingress"></xs:enumeration>
								<xs:enumeration value="egress"></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CopyActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>

					<xs:element name="to-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="1" />

					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MitigateActionModifierType">
		<xs:complexContent>
			<xs:extension base="openc2:ModifierType">
				<xs:sequence>
					<xs:element name="threat-type" maxOccurs="1"
						minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="passive-capture" />
								<xs:enumeration value="active-scan" />
								<xs:enumeration value="spoof" />
								<xs:enumeration value="mitm" />
								<xs:enumeration value="dos" />
								<xs:enumeration value="all" />
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="report-to" type="URIObject:URIObjectType"
						maxOccurs="1" minOccurs="0" />

					<xs:element name="on-device" type="openc2:DataportType"
						maxOccurs="1" minOccurs="0">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="SpecifierType">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="openc2:SpecifierVocab" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ActionVocab">
		<xs:annotation>
			<xs:documentation>The default set of values to use for expressing an XXXDefAction action.</xs:documentation>
			<xs:appinfo>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DENY">
				<xs:annotation>
					<xs:documentation>The DENY action prevents a certain event or action from completing.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONTAIN">
				<xs:annotation>
					<xs:documentation>The CONTAIN action stipulates the isolation of a file or process  such that it cannot modify or access assets that support the business or operations of the organization.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ALLOW">
				<xs:annotation>
					<xs:documentation>The ALLOW action permits the access to or execution of something.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="START">
				<xs:annotation>
					<xs:documentation>The START action initiates a system or an activity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOP">
				<xs:annotation>
					<xs:documentation>The STOP action halts a system or ends an activity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESTART">
				<xs:annotation>
					<xs:documentation>The RESTART action conducts a STOP of a system or an activity followed by a  START of a system or an activity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAUSE">
				<xs:annotation>
					<xs:documentation>The PAUSE action ceases a system or activity while maintaining state.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESUME">
				<xs:annotation>
					<xs:documentation>The RESUME action starts a system or activity from a paused state.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SET">
				<xs:annotation>
					<xs:documentation>The SET action changes a configuration or state of a managed entity within an IT system.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UPDATE">
				<xs:annotation>
					<xs:documentation>The UPDATE action instructs the component to retrieve and process a large or comprehensive software update, reconfiguration or some other update.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOVE">
				<xs:annotation>
					<xs:documentation>The MOVE action changes the location of a file, subnet, network, or, process.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REDIRECT">
				<xs:annotation>
					<xs:documentation>The REDIRECT action changes the path of a flow of traffic other than its original or intended path.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE">
				<xs:annotation>
					<xs:documentation>The DELETE action removes data and files.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SNAPSHOT">
				<xs:annotation>
					<xs:documentation>The SNAPSHOT action records and stores the state of a target at an instant in time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DETONATE">
				<xs:annotation>
					<xs:documentation>The DETONATE action executes and observes the behavior of a file in a manner that isolates the file from assets that support the business or operations of the organization.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESTORE">
				<xs:annotation>
					<xs:documentation>The RESTORE action deletes and/or replaces files, settings, or attributes such that the state of the system is identical to some previous state.  </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAVE">
				<xs:annotation>
					<xs:documentation>The SAVE action commits data or system state to memory.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODIFY">
				<xs:annotation>
					<xs:documentation>The MODIFY action augments, enhances, transforms, or changes some aspect of a system.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="THROTTLE">
				<xs:annotation>
					<xs:documentation>The THROTTLE action adjusts the throughput of the entire data flow to a different rate.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELAY">
				<xs:annotation>
					<xs:documentation>The DELAY action stops or holds up an activity or data transmittal.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUBSTITUTE">
				<xs:annotation>
					<xs:documentation>The SUBSTITUTE action replaces all or part of the data, content or payload in the least detectable manner.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation>The COPY action duplicates a file or data flow.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SYNC">
				<xs:annotation>
					<xs:documentation>The SYNC action synchronizes a sensor or actuator with other system components.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ActuatorVocab">
		<xs:annotation>
			<xs:documentation>The default set of values to use for expressing an XXXDefAction actuator.</xs:documentation>
			<xs:appinfo>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="endpoint"/>
			<xs:enumeration value="endpoint.digital-telephone-handset"/>
			<xs:enumeration value="endpoint.laptop"/>
			<xs:enumeration value="endpoint.pos-terminal"/>
			<xs:enumeration value="endpoint.printer"/>
			<xs:enumeration value="endpoint.sensor"/>
			<xs:enumeration value="endpoint.server"/>
			<xs:enumeration value="endpoint.smart-meter"/>
			<xs:enumeration value="endpoint.smart-phone"/>
			<xs:enumeration value="endpoint.tablet"/>
			<xs:enumeration value="endpoint.workstation"/>
			<xs:enumeration value="network"/>
			<xs:enumeration value="network.bridge"/>
			<xs:enumeration value="network.firewall"/>
			<xs:enumeration value="network.gateway"/>
			<xs:enumeration value="network.guard"/>
			<xs:enumeration value="network.hips"/>
			<xs:enumeration value="network.hub"/>
			<xs:enumeration value="network.ids"/>
			<xs:enumeration value="network.ips"/>
			<xs:enumeration value="network.modem"/>
			<xs:enumeration value="network.nic"/>
			<xs:enumeration value="network.proxy"/>
			<xs:enumeration value="network.router"/>
			<xs:enumeration value="network.security_manager"/>
			<xs:enumeration value="network.sense_making"/>
			<xs:enumeration value="network.sensor"/>
			<xs:enumeration value="network.switch"/>
			<xs:enumeration value="network.vpn"/>
			<xs:enumeration value="network.wap"/>
			<xs:enumeration value="process"/>
			<xs:enumeration value="process.aaa-server"/>
			<xs:enumeration value="process.anti-virus-scanner"/>
			<xs:enumeration value="process.connection-scanner"/>
			<xs:enumeration value="process.directory-service"/>
			<xs:enumeration value="process.dns-server"/>
			<xs:enumeration value="process.email-service"/>
			<xs:enumeration value="process.file-scanner"/>
			<xs:enumeration value="process.location-service"/>
			<xs:enumeration value="process.network-scanner"/>
			<xs:enumeration value="process.remediation-service"/>
			<xs:enumeration value="process.reputation-service"/>
			<xs:enumeration value="process.sandbox"/>
			<xs:enumeration value="process.virtualization-service"/>
			<xs:enumeration value="process.vulnerability-scanner"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ModifierVocab">
		<xs:annotation>
			<xs:documentation>The default set of values to use for expressing an XXXDefAction modifier.</xs:documentation>
			<xs:appinfo>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="delay"/>
			<xs:enumeration value="duration"/>
			<xs:enumeration value="frequency"/>
			<xs:enumeration value="response"/>
			<xs:enumeration value="time"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SpecifierVocab">
		<xs:annotation>
			<xs:documentation>The default set of values to use for expressing an XXXDefAction modifier.</xs:documentation>
			<xs:appinfo>
				<version>1.0</version>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="DataportType">
		<xs:complexContent>
			<xs:extension base="cyboxCommon:ObjectPropertiesType">
				<xs:sequence>
					<xs:element name="datapath" type="openc2:DatapathType" maxOccurs="1"
						minOccurs="1" />
					<xs:element name="port" type="openc2:DataportIdentifierType"
						maxOccurs="1" minOccurs="0" />

				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:simpleType name="DatapathType">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="dpid:[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}-[0-9a-fA-F]{2}|dpid:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}:[0-9a-fA-F]{2}" />

		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DataportIdentifierType">
		<xs:union
			memberTypes="openc2:NamedDataportIdentifierType openc2:NumericDataportIdentifierType" />
	</xs:simpleType>


	<xs:simpleType name="NamedDataportIdentifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALL" />
			<xs:enumeration value="CONTROLLER" />
			<xs:enumeration value="TABLE" />
			<xs:enumeration value="IN_PORT" />
			<xs:enumeration value="ANY" />
			<xs:enumeration value="UNSET" />
			<xs:enumeration value="LOCAL" />
			<xs:enumeration value="NORMAL" />
			<xs:enumeration value="FLOOD" />
			<xs:enumeration value="all" />
			<xs:enumeration value="controller" />
			<xs:enumeration value="table" />
			<xs:enumeration value="in_port" />
			<xs:enumeration value="any" />
			<xs:enumeration value="unset" />
			<xs:enumeration value="local" />
			<xs:enumeration value="normal" />
			<xs:enumeration value="flood" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NumericDataportIdentifierType">
		<xs:restriction base="xs:unsignedInt">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="4294967040" />
		</xs:restriction>
	</xs:simpleType>



	<xs:complexType name="FlowType" >
		<xs:complexContent>
			<xs:extension base="NetworkConnectionObj.NetworkConnectionObjectType">
				<xs:sequence>
					<xs:element name="Layer2_Protocol" maxOccurs="1"
						minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="string">
								<xs:enumeration value="Ethernet"></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Source_Layer2_Address"
						type="AddressObjectType" maxOccurs="1" minOccurs="0">
					</xs:element>
					<xs:element name="Destination_Layer2_Address"
						type="AddressObjectType" maxOccurs="1" minOccurs="0">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
